@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);
* {
  -webkit-outline: 0;
  -moz-outline: 0;
  -o-outline: 0;
  outline: 0;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  box-sizing: border-box; }

input:focus, input:hover, textarea:focus, textarea:hover {
  -webkit-outline: 0;
  -moz-outline: 0;
  -o-outline: 0;
  outline: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: inherit;
  font-weight: 400;
  line-height: 1.4;
  border: 0; }

html, body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-color: #0098D5;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0086c4), color-stop(100%, #46bddb));
  background: -webkit-linear-gradient(-45deg, #0086c4 0%, #46bddb 100%);
  background: -webkit-linear-gradient(315deg, #0086c4 0%, #46bddb 100%);
  background: linear-gradient(135deg, #0086c4 0%, #46bddb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086c4', endColorstr='#46bddb',GradientType=1 ); }

a {
  color: #272727;
  text-decoration: none; }

.page-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
  height: 100vh; }

.page-header {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .page-header .page-logo, .page-header .page-description {
    display: block;
    opacity: 0;
    color: #efefef;
    font-size: 66px;
    font-weight: 100; }
  .page-header .page-logo {
    font-size: 96px; }

.break-line {
  display: block;
  position: absolute;
  left: 50%;
  width: 0px;
  height: 1px;
  z-index: 1;
  background-color: #efefef;
  border: 0; }

footer {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 24px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); }
  footer p {
    color: #efefef;
    font-weight: 300; }
